<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602220362932-i1qkmuk7n5hvpdvlgmfovtesttv4ql18.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602220362932-i1qkmuk7n5hvpdvlgmfovtesttv4ql18</string>
	<key>API_KEY</key>
	<string>AIzaSyBnbLjFYq1mAWLXfDGl2YdWxGB6UQyL2Sc</string>
	<key>GCM_SENDER_ID</key>
	<string>602220362932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.qwerty.hamd</string>
	<key>PROJECT_ID</key>
	<string>push-notifcation-cbeae</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notifcation-cbeae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602220362932:ios:7d21e22051bf257a34ebe1</string>
</dict>
</plist>